gevent
gunicorn
fabric
markdown2
pymysql
django==1.11.5
djangorestframework
markdown 
django-filter
monthdelta
Pillow==5.0.0
xlrd
xlsxwriter
jieba
django-cors-headers
qrcode
pytesseract
tesseract
pyocr
numpy
baidu-aip
